= form_for :abbrv8_url, url: {action: 'create'} do |f|
  = f.text_field :long_url
  = f.submit "Shorten"

#short-url= @short_url

#errors
  - @errors.full_messages.each do |message|
    .message= message

