#container
  #title
    Abbrv8

  #shorten-form
    = form_for :abbrv8_url, url: {action: 'create'} do |f|
      .text-box
        = f.text_field :long_url
      .button
        = f.submit "Shorten"

  #short-url= @short_url

  #errors
    - if @error_messages
      - @error_messages.each do |message|
        .message= message

